@model List<QuanLyBanSach_Web.Models.Sach>
@{
    ViewBag.Title = "DanhMuc";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body text-center" style="height: 450px">
                        <a href="/Home/Detail/@item.MaSach"><img class="card-img-top" src="@item.ImageURL" /></a>
                        <p class="card-text fs-5">@item.TenSach</p>
                        <p class="card-text text-danger fw-bold">@item.GiaBan.ToString()0 VNĐ</p>
                    </div>
                    <div class="card-footer text-center">
                        @using (Html.BeginForm("Add", "Cart", FormMethod.Get))
                        {
                            <button class="btn btn-primary w-25" type="submit" name="id" value="@item.MaSach">Buy</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            @{
                int PrevP = ViewBag.Page - 1;
                if (PrevP <= 0)
                {
                    PrevP = 1;
                }
                int NextP = ViewBag.Page + 1;
                if (NextP > ViewBag.NoPages)
                {
                    NextP = ViewBag.NoPages;
                }
            }
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/Home/DanhMuc?id=@Model[0].MaDanhMuc&page=@PrevP">PrevP </a>
                </li>
                @for (int i = 0; i < ViewBag.NoPages; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Home/DanhMuc?id=@Model[0].MaDanhMuc&page=@(i+1)">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Home/DanhMuc?id=@Model[0].MaDanhMuc&page=@(i+1)">@(i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/Home/DanhMuc?id=@Model[0].MaDanhMuc&page=@NextP">NextP </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#sort').change(function () {
            $('#MyForm').submit();
        });
    });
</script>

