@model QuanLyBanSach_Web.Models.QL_NguoiDung
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="row w-25 mx-auto">
        <div class="col-md-12">
            @Html.LabelFor(t => t.TenDangNhap)
            @Html.TextBoxFor(t => t.TenDangNhap, new { placehoder = "UserName", @class = "form-control" })
            @Html.ValidationMessageFor(t => t.TenDangNhap)
        </div>
        <div class="col-md-12">
            @Html.LabelFor(t => t.MatKhau)
            @Html.PasswordFor(t => t.MatKhau, new { placehoder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(t => t.MatKhau)
        </div>
    </div>
    <div class="row w-25 mx-auto">
        <div class="col-md-12 text-danger">
            @Html.ValidationSummary()
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <a href="/Home" class="btn btn-outline-danger mt-3">Cancel</a>
            <button type="submit" class="btn btn-outline-primary text-center mt-3 ms-2">Login</button>
        </div>
    </div>
}

